.signs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 23%;
}

.sign-up {
    padding: 0 2rem;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .signs {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .signs {
        display: block;
        width: 15vw;
        height: 15vw;
    }

    .signs > a {
        display: none;
    }

    .signs > img {
        display: block !important;
        margin-top: .5vh;
        width: 12vw;
    }
}
