@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:wght@400;500&family=Rubik:wght@0,300..900;1,300..900&display=swap');

:root {
    --accent: #058270;
    --errorColor: #FF3737;
    --red: var(--errorColor);
    --highlight: #F9EF00;
}

* {
    margin: 0;
}

html, body { max-width: 100%; }
